#### Convert Year to Datetime Format in GDP Data

In [4]:
import pandas as pd

# Load economic data with 'Year' instead of full date
economic_data = pd.read_csv('../Data/All_economic_data.csv')

# Convert 'Year' to a datetime format with January 1 as the date
economic_data['Date'] = pd.to_datetime(economic_data['date'], format='%Y')

# Sort by country and date, then calculate the GDP growth rate
economic_data.sort_values(['country', 'date'], inplace=True)
economic_data['GDP_Growth_Rate'] = economic_data.groupby('country')['GDP'].pct_change() * 100

# Drop the original 'Year' column as it's now redundant
economic_data.drop(columns=['date'], inplace=True)

display(economic_data.head(100))

C:\Users\elbet\AppData\Local\Temp\ipykernel_33980\1894171811.py:11: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  economic_data['GDP_Growth_Rate'] = economic_data.groupby('country')['GDP'].pct_change() * 100

                          country           GDP       Date  GDP_Growth_Rate
3199                  Afghanistan           NaN 1960-01-01              NaN
3198                  Afghanistan           NaN 1961-01-01              NaN
3197                  Afghanistan           NaN 1962-01-01              NaN
3196                  Afghanistan           NaN 1963-01-01              NaN
3195                  Afghanistan           NaN 1964-01-01              NaN
...                           ...           ...        ...              ...
32    Africa Eastern and Southern  2.735426e+11 1991-01-01         8.889214
31    Africa Eastern and Southern  2.394332e+11 1992-01-01       -12.469513
30    Africa Eastern and Southern  2.402714e+11 1993-01-01         0.350084
29    Africa Eastern and Southern  2.435648e+11 1994-01-01         1.370710
28    Africa Eastern and Southern  2.734331e+11 1995-01-01        12.262955

[100 rows x 4 columns]

#### Prepare Oil Prices Data

In [8]:
# Load oil prices data, ensuring it has a 'Year' or 'Date' column
import pandas as pd

# Load oil prices data
oil_data = pd.read_csv('../Data/BrentOilPrices.csv')

oil_data['Date'] = pd.to_datetime(oil_data['Date'])

# Extract the year from the oil price 'Date'
oil_data['Date'] = oil_data['Date']

# Calculate the annual average oil price
annual_oil_data = oil_data.groupby('Date')['Price'].mean().reset_index()
annual_oil_data.rename(columns={'Price': 'Average_Oil_Price'}, inplace=True)
display(annual_oil_data.head())

C:\Users\elbet\AppData\Local\Temp\ipykernel_33980\2768042719.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  oil_data['Date'] = pd.to_datetime(oil_data['Date'])

        Date  Average_Oil_Price
0 1987-05-20              18.63
1 1987-05-21              18.45
2 1987-05-22              18.55
3 1987-05-25              18.60
4 1987-05-26              18.63

In [9]:
# Merge the GDP data with oil prices data on 'Date'
combined_data = pd.merge(economic_data, oil_data, on='Date')
combined_data.to_csv('../Data/combined_gdp_price.csv')

# Check combined data
display(combined_data.head(10))

,country,GDP,Date,GDP_Growth_Rate,Price
0,Afghanistan,1.995593e+10,2020-01-01,6.151695,67.77
1,Africa Eastern and Southern,9.290741e+11,2020-01-01,-7.695093,67.77
2,Africa Western and Central,7.871467e+11,2020-01-01,-4.464791,67.77
3,Albania,1.516273e+10,2020-01-01,-1.552361,67.77
4,Algeria,1.648734e+11,2020-01-01,-14.776334,67.77
5,American Samoa,7.210000e+08,2020-01-01,11.437403,67.77
6,Andorra,2.891001e+09,2020-01-01,-8.371971,67.77
7,Angola,4.850156e+10,2020-01-01,-31.589626,67.77
8,Antigua and Barbuda,1.410796e+09,2020-01-01,-18.231386,67.77
9,Arab World,2.576553e+12,2020-01-01,-11.112529,67.77

In [10]:
# Calculate correlation between GDP Growth Rate and Average Oil Price for each country
correlations = combined_data.groupby('country').apply(
    lambda df: df['GDP'].corr(df['Price'])
)

# Display the correlation results
print("Correlation between GDP growth rate and average oil price:")
display(correlations)

Correlation between GDP growth rate and average oil price:

c:\Users\elbet\miniconda3\envs\elbetel\lib\site-packages\numpy\lib\function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\elbet\miniconda3\envs\elbetel\lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
c:\Users\elbet\miniconda3\envs\elbetel\lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
C:\Users\elbet\AppData\Local\Temp\ipykernel_33980\2374498389.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlations = combined_data.groupby('country').apply(

country
Afghanistan                   NaN
Africa Eastern and Southern   NaN
Africa Western and Central    NaN
Albania                       NaN
Algeria                       NaN
                               ..
West Bank and Gaza            NaN
World                         NaN
Yemen, Rep.                   NaN
Zambia                        NaN
Zimbabwe                      NaN
Length: 266, dtype: float64